<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.asi.yalla_passanger_eg">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.asi.yalla_passanger_eg.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        tools:replace="icon">

        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name="com.asi.yalla_passanger_eg.SplachScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.asi.yalla_passanger_eg.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.asi.yalla_passanger_eg.LoginActivity"
            android:label="@string/login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.asi.yalla_passanger_eg.LoginSignup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.asi.yalla_passanger_eg.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.asi.yalla_passanger_eg.RequestCarActivity"
            android:theme="@style/AppThemeGreen"/>
        <activity android:name="com.asi.yalla_passanger_eg.OnGoingActivity"/>
        <activity
            android:name="com.asi.yalla_passanger_eg.ChoosePaymentMethod"
            android:label="@string/choosePayment">
        </activity>
        <activity
            android:name="com.asi.yalla_passanger_eg.ChangePassword"
            android:label="@string/changepass">
        </activity>
        <activity
            android:name="com.asi.yalla_passanger_eg.ForgetPassword"
            android:label="@string/forgetpass"
            android:parentActivityName="com.asi.yalla_passanger_eg.LoginActivity">
        </activity>
        <activity android:name="com.asi.yalla_passanger_eg.TripCompletedActivity">
        </activity>
        <activity
            android:name="com.asi.yalla_passanger_eg.EditeProfile"
            android:label="@string/edit_profile"
            android:parentActivityName="com.asi.yalla_passanger_eg.MainActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.asi.yalla_passanger_eg.Serveces.DriverUpdatesService"/>

        <activity
            android:name="com.asi.yalla_passanger_eg.CompletedTripDetial"
            android:label="@string/tripinfo">
        </activity>
        <activity android:name="com.asi.yalla_passanger_eg.EditFavPlaceActivity">
        </activity>

        <receiver android:name="com.asi.yalla_passanger_eg.Serveces.DriverReplayReciver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>

        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a2e1788f1909335c67e99c700548c0ec1930884" />
    </application>

</manifest>